@import "1_abstract/variables";
@import "1_abstract/mixins";
@import "1_abstract/functions";

@import "2_base/base";
@import "2_base/typography";
@import "2_base/utilities";
@import "2_base/animations";

@import "3_layout/navbar";
@import "3_layout/footer";

@import "4_pages/homepage";
@import "4_pages/about";
@import "4_pages/contact";




@import "5_components/buttons";
@import "5_components/links";