// Color Variables



// Font Variables
$bgtext-font: 'Playfair Display SC',
serif;
$body-font: "proxima-nova",
sans-serif;



// Font Size Variables
$step0: 1.2rem;
$base-font: 1.5rem;
$step01: 2.1rem;
$step02: 2.8rem;
$step03: 3.7rem;
$step04: 5rem;
$step05: 6.7rem;
$step06:8.9rem;
$step07:11.9rem;